@import "styles/variables.scss";
@import "styles/mixin.scss";

.Logo-section {
  background-color: $turquoise-blue;
  height: calc(100vh - #{$header-height});
  overflow: visible;
  text-align: center;
  color: white;
  background-image: url(./img/building.png);
  background-size: auto 588px;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-attachment: fixed;
  position: relative;

  .logo-content {
    padding-top: 12%;
    .title {
      font-size: 3.75rem;
      @include questrial-font();
      margin-bottom: 12px;
    }
    .description {
      font-size: 1.5rem;
      margin-bottom: 51px;
    }
    .paper-btn {
      height: 40px;
      width: 148px;
      border: 1px solid white;
      line-height: 40px;
      border-radius: 2px;

      &:hover {
        background-color: rgba(255, 255, 255, 0.24);
        cursor: pointer;
      }
    }
  }
  .graph-background {
    position: absolute;
    height: 310px;
    width: 100%;
    bottom: 0;
    background-image: url(./img/graph.png);
    background-position: bottom center;
    background-repeat: no-repeat;
  }
  .computer-continer {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: -90px;

    img {
      width: 459px;
      height: auto;
    }
  }
}
