@font-face {
  font-family: 'Source Han Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Source Han Sans'), local('SourceHanSans-Regular'), url('../fonts/SourceHanSans-Regular.otf') format('otf');
}
