.about {
  .team-container {
    margin-top: 60px;

    .description {
      padding-top: 20px;
    }

    .team-item-group {
      margin-top: 30px;

      .team-item {
        display: inline-block;
        position: relative;
        width: 220px;
        height: 115px;
        margin-right: 20px;
      }

      .team-item-image {
        position: absolute;
        width: 75px;
        height: 75px;
        left: 0;
        top: 0;
        background-color: aqua;
      }

      .team-item-right {
        position: absolute;
        width: 145px;
        height: 75px;
        left: 75px;
        top: 0;
        background-color: #eee;
        padding: 10px;
        padding-top: 15px;

        .team-item-name {
          font-weight: bold;
          font-size: 16px;
        }

        .team-item-description {
          font-size: 16px;
        }
      }

      .team-item-link-group {
        position: absolute;
        bottom: 0;
        right: 0;

        .team-item-link {
          margin-left: 5px;
          display: inline-block;
          cursor: pointer;
        }

        .team-item-link:hover {
          color: #eb6100;
        }
      }
    }
  }

  .media-container {
    margin-top: 60px;

    ul {
      margin-top: 50px;

      li {
        font-size: 20px;
        cursor: pointer;

        @media screen and (max-width: 992px) {
          font-size: 15px;
        }
      }
    }
  }

  .pr-container {
    margin-top: 60px;

    ul {
      margin-top: 50px;

      li {
        font-size: 20px;
        cursor: pointer;

        @media screen and (max-width: 992px) {
          font-size: 15px;
        }
      }
    }
  }

  .event-container {
    margin-top: 60px;

    .group-title {
      margin-top: 60px;
      margin-bottom: 10px;
      font-size: 20px;
      font-weight: bold;
    }

    .upcomming-event-group {
      .upcomming-event-item {
        position: relative;
        width: 460px;
        height: 257px;
        background-color: beige;
        display: inline-block;
        margin-right: 20px;
        margin-bottom: 20px;

        @media screen and (max-width: 480px) {
          width: 100%;
        }

        .title {
          position: absolute;
          bottom: 30px;
          left: 10px;
          font-size: 24px;
          color: white;
        }

        .date {
          position: absolute;
          bottom: 10px;
          left: 10px;
          font-size: 20px;
          color: white;
        }
      }
    }

    .past-event-group {
      .past-event-item {
        width: 150px;
        height: 150px;
        background-color: violet;
        display: inline-block;
        vertical-align: top;
      }
    }
  }
}
