@import 'fonts';
@import "~bootstrap/scss/bootstrap";

$fa-font-path: "~font-awesome/webfonts";

@import "~font-awesome/scss/fontawesome.scss";
@import "~font-awesome/scss/fa-regular.scss";
@import "~font-awesome/scss/fa-solid.scss";
@import "~font-awesome/scss/fa-brands.scss";

body {
  font-family: 'Source Han Sans', sans-serif;
  background-color: white;

  h3 {
    font-weight: 900;
  }

  .content {
    min-height: 1000px;
  }

  .underline {
    position: absolute;
    background-color: #313131;
    left: 0;
    width: 100%;
    height: 1px;
  }

  .background-green-box {
    position: fixed;
    top: 150px;
    left: 0;
    z-index: -100;
    width: 100%;

    @media screen and (max-width: 800px) {
      display: none;
    }

    img {
      width: 100%;
      opacity: 0.2;
      filter: alpha(opacity=20); /* For IE8 and earlier */
    }
  }
}
