.contribute {
  .contribut-code-container {
    margin-top: 60px;

    .description-group {
      margin-top: 35px;
    }
  }

  .pull-request-checklist-container {
    margin-top: 100px;

    .description {
      margin-top: 30px;
    }

    .red-text {
      color: #d94c47;
    }

    ul {
      margin-top: 15px;
    }
  }

  .how-to-contribute-container {
    margin-top: 100px;

    .description-group {
      margin-top: 30px;
    }

    table {
      width: 100%;
    }

    a {
      padding-left: 5px;
      padding-right: 5px;
      color: #d94c47;
    }
  }

  .good-first-issue-container {
    margin-top: 100px;

    .github-item-group {
      margin-top: 40px;
      margin-bottom: 100px;

      .github-item {
        position: relative;
        width: 100%;
        margin-bottom: 5px;

        i {
          font-size: 22px;
        }

        .github-item-icon {
          position: absolute;
          left: 0;
          top: 10px;
          color: #094;
        }

        .right-container {
          margin-left: 40px;
        }

        .github-item-title {
          position: relative;
          font-size: 18px;
          color: #3c758d;
        }

        .github-item-title:link {
          color: #3c758d;
        }

        .github-item-description {
          position: relative;
          font-size: 14px;
        }
      }
    }
  }
}
