.documents {
  .material-container {
    margin-top: 100px;
    margin-bottom: 70px;

    ul {
      margin-top: 50px;
      color: #313131;
      font-size: 20px;

      @media screen and (max-width: 991px) {
        font-size: 18px;
      }

      li {
        margin-top: 5px;
      }
    }

    .material-item {
      color: #313131;
      margin-top: 10px;
    }
  }
}
