.footer {
  position: relative;
  background-color: #087250;

  ul {
    margin-top: 40px;
    list-style: none;
    padding-left: 0;

    li {
      font-weight: 300;
      margin-bottom: 5px;
    }
  }

  .footer-menu-item {
    color: #eee;
  }

  .footer-menu-item:link {
    color: #eee;
  }

  .footer-menu-item:hover {
    text-decoration: none;
    color: white;
  }

  .copyright {
    padding-top: 30px;
    padding-bottom: 40px;
    color: #eee;
    font-weight: 300;
  }

  .footer-link-item {
    color: #eee;
    margin-left: 10px;

    a {
      color: #eee;
    }

    a:hover {
      color: white;
    }
  }

  .footer-list-menu {
    margin-top: 20px;
  }
}
