.header {
  background-color: #eee !important;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;

  .logo {
    width: 45px;
    height: 45px;
  }

  .navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
  }

  .second-logo {
    width: 95px;
    height: 27px;
  }

  .nav-item {
    text-align: center;
  }
}
