.main {
  .top-logo-container {
    position: relative;
    width: 100%;

    @media screen and (min-width: 1366px) {
      background-size: 100% auto;
    }

    .connected-people-container {
      position: relative;
      width: 450px;
      height: 450px;
      margin: 0 auto;
      margin-top: 100px;

      @media screen and (max-width: 470px) {
        width: 250px;
        height: 250px;
        margin-top: 50px;
      }

      .default-object {
        position: absolute;
        width: 450px;
        height: 450px;
        left: 0;
        top: 0;
        z-index: 10;

        @media screen and (max-width: 470px) {
          width: 250px;
          height: 250px;
        }
      }

      .rotate-object {
        position: absolute;
        width: 390px;
        height: 390px;
        left: 30px;
        top: 30px;
        z-index: 5;

        @media screen and (max-width: 470px) {
          width: 220px;
          height: 220px;
          left: 16px;
          top: 16px;
        }
      }
    }

    @-webkit-keyframes rotating /* Safari and Chrome */ {
      from {
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
      }

      to {
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
      }
    }

    @keyframes rotating {
      from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
      }

      to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
      }
    }

    .rotating {
      -webkit-animation: rotating 14s linear infinite;
      -moz-animation: rotating 14s linear infinite;
      -ms-animation: rotating 14s linear infinite;
      -o-animation: rotating 14s linear infinite;
      animation: rotating 14s linear infinite;
    }

    .title {
      position: relative;
      padding-top: 164px;
      font-size: 40px;
      font-weight: 900;

      @media screen and (max-width: 991px) {
        padding-top: 60px;
      }
    }

    .description {
      position: relative;
      font-size: 22px;
    }

    .button-container {
      width: 520px;
      margin-top: 30px;
      text-align: center;

      @media screen and (max-width: 540px) {
        width: 100%;
      }

      .download-btn {
        position: relative;
        width: 160px;
        height: 52px;
        margin-top: 20px;
        background-color: #d94c47;
        border-color: #d94c47;

        @media screen and (max-width: 540px) {
          display: block;
          margin: 0 auto;
          margin-top: 20px;
        }
      }

      .source-btn {
        position: relative;
        width: 160px;
        height: 52px;
        margin-top: 20px;
        margin-left: 20px;
        background-color: #d94c47;
        border-color: #d94c47;

        @media screen and (max-width: 540px) {
          display: block;
          margin: 0 auto;
          margin-top: 20px;
        }
      }

      .join-chat-btn {
        position: relative;
        width: 160px;
        height: 52px;
        margin-top: 20px;
        margin-left: 20px;
        background-color: #eaa912;
        border-color: #eaa912;

        @media screen and (max-width: 540px) {
          display: block;
          margin: 0 auto;
          margin-top: 20px;
        }
      }
    }
  }

  .feature-container {
    padding-top: 70px;
    padding-bottom: 30px;

    .feature-description {
      margin-top: 30px;
      color: #313131;
      font-size: 18px;
    }

    .item-group {
      margin-top: 70px;

      .feature-item {
        margin: 0 auto;
        width: 380px;

        @media screen and (max-width: 400px) {
          width: 100%;
        }
      }

      .item-title {
        font-weight: 900;
        font-size: 30px;
        line-height: 110%;
        margin-top: 30px;
      }

      .item-img {
        width: auto;
        height: 80px;
      }

      .item-underline {
        width: 110px;
        height: 6px;
        margin-top: 30px;
        margin-bottom: 20px;
      }

      .item-description {
        font-size: 20px;
        margin-bottom: 50px;
        width: 380px;

        @media screen and (max-width: 400px) {
          width: 100%;
        }
      }

      .underline-red {
        background-color: #d94c47;
      }

      .underline-green {
        background-color: #087250;
      }
    }

    .feature-second {
      .second-item {
        width: 380px;
        margin: 0 auto;

        @media screen and (max-width: 400px) {
          width: 100%;
        }

        .second-item-description {
          display: inline-block;
          color: #898989;
          font-size: 17px;
        }

        .second-item-img {
          margin-left: 20px;
          display: inline-block;
        }

        .apgl-img {
          padding-bottom: 25px;
        }
      }
    }
  }

  .news-container {
    padding-top: 100px;
    padding-bottom: 50px;

    a {
      color: inherit;
    }

    .item {
      margin-bottom: 40px;
      padding-left: 10px;
      padding-right: 10px;
      padding-bottom: 20px;

      .title {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 0;
      }

      .title-deco-block {
        width: 40px;
        height: 25px;
        margin-bottom: 5px;
      }

      .red-block {
        background-color: #d94c47;
      }

      .yellow-block {
        background-color: #eaa912;
      }

      .green-block {
        background-color: #087250;
      }

      .description {
        font-size: 16px;
      }

      .name-date {
        font-size: 16px;
        margin-bottom: 8px;
      }
    }

    .item:hover {
      background-color: #eee;
    }

    .read-more {
      color: #313131;

      .description {
        color: #707070;
      }
    }

    .read-more:hover {
      text-decoration: none;

      .red-title {
        color: #d94c47;
      }

      .yellow-title {
        color: #eaa912;
      }

      .green-title {
        color: #087250;
      }
    }

    .item-group {
      padding-top: 50px;
    }
  }

  .newsletter-container {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #eee;

    .newsletter-form {
      margin: 0 auto;
      width: 600px;

      @media screen and (max-width: 620px) {
        width: 100%;
      }

      .title {
        font-size: 18px;
        margin-bottom: 7px;
      }

      .newsletter-btn {
        width: 100%;
        background-color: #eaa912;
        border-color: #eaa912;
      }
    }
  }
}
