.main {
  .top-logo-container {
    position: relative;
    width: 100%;
    height: 400px;
    background: url('../images/main/home_background.png') repeat-x;
    background-size: auto 100%;
    background-position: center;
    overflow: hidden;

    @media screen and (min-width: 1920px) {
      background-size: 100% auto;
    }

    .background-image {
      position: absolute;
      right: 0;
      top: 0;
      z-index: 0;

      @media screen and (max-width: 600px) {
        display: none;
      }
    }

    .title {
      position: relative;
      padding-top: 164px;
      font-size: 30px;
      font-weight: 900;
      z-index: 10;
    }

    .description {
      position: relative;
      font-size: 17px;
      z-index: 10;
    }

    .download-btn {
      position: relative;
      width: 160px;
      height: 52px;
      margin-top: 20px;
      background-color: #eb6100;
      border-color: #eb6100;
      z-index: 10;
    }

    .source-btn {
      position: relative;
      width: 160px;
      height: 52px;
      margin-top: 20px;
      margin-left: 20px;
      background-color: #eb6100;
      border-color: #eb6100;
      z-index: 10;
    }
  }

  .feature-container {
    padding-top: 70px;
    padding-bottom: 30px;

    .item {
      margin: 0 auto;
      margin-bottom: 25px;
      width: 458px;
      height: 226px;
      border-radius: 10px;
      color: white;
      font-size: 18px;

      @media screen and (max-width: 456px) {
        width: 100%;
      }

      .item-description {
        padding-top: 25px;
        text-shadow: 2px 2px rgba(46, 46, 46, 0.35);
      }

      img {
        padding-top: 25px;
      }
    }

    .item-support {
      background: linear-gradient(to right, #ff510b, #ffb900);
    }

    .item-engine {
      background: linear-gradient(to right, #0cc4af, #cbf212);
    }

    .item-license {
      background: linear-gradient(to right, #9d0bda, #45e8fc);
    }

    .item-rust {
      background: linear-gradient(to right, #204afb, #45e9fc);
    }

    .item-group {
      margin-top: 50px;
    }
  }

  .news-container {
    padding-top: 50px;
    padding-bottom: 50px;

    a {
      color: inherit;
      text-decoration: inherit;
    }

    .item {
      position: relative;
      margin: 0 auto;
      width: 283px;
      height: 254px;
      border: 2px solid;
      border-color: #eee;
      margin-bottom: 15px;
      overflow: hidden;
      cursor: pointer;

      .title {
        position: absolute;
        top: 147px;
        left: 10px;
        font-size: 17px;
        font-weight: bold;
      }

      .description {
        position: absolute;
        top: 128px;
        left: 10px;
        white-space: nowrap;
        font-size: 12px;
      }

      .name {
        position: absolute;
        margin: 0;
        bottom: 25px;
        right: 10px;
        font-weight: 600;
        font-size: 14px;
      }

      .time {
        position: absolute;
        bottom: 10px;
        margin: 0;
        right: 10px;
        font-size: 11px;
      }

      .img-container {
        position: relative;
        widows: 100%;
        height: 120px;
        overflow: hidden;

        img {
          position: absolute;
          bottom: 0;
          width: 100%;
          height: auto;
        }
      }
    }

    .item-group {
      padding-top: 50px;
    }
  }

  .newsletter-container {
    padding-top: 50px;
    padding-bottom: 100px;
    background-color: #eee;

    form {
      button {
        background-color: #eb6100;
        border-color: #eb6100;
        width: 100%;
        margin-top: 33px;
      }
    }
  }
}
