.team {
  .contributor-container {
    margin-top: 60px;

    .description {
      margin-top: 30px;
    }

    .contributor-item-group {
      padding-top: 30px;
      padding-bottom: 30px;

      .contributor-item {
        display: inline-block;
        width: 140px;
        height: 50px;
        margin-right: 20px;
        margin-bottom: 20px;
        background-color: bisque;

        .name {
          font-weight: bold;
        }
      }

      .contributor-button {
        display: inline-block;
        width: 140px;
        height: 50px;

        a {
          color: #d94c47;
        }

        a:hover {
          text-decoration: none;
        }
      }
    }
  }
}
