.Categories {
  padding: 40px 0 80px 0;
  text-align: center;
  color: white;

  .description {
    margin-bottom: 60px;
    span {
      font-size: 1.2rem;
    }
  }

  .category-item {
    border: 1px solid white;
    display: inline-block;
    margin-bottom: 12px;
    width: 100%;
    cursor: pointer;
    font-weight: bold;
    display: inline-flex;
    align-items: center;
    height: 80px;
    justify-content: center;
  }
}
