@import "styles/variables.scss";

.Answer-item {
  padding: 24px 0px 24px 0px;
  border-bottom: 1px solid $cool-grey;
  cursor: pointer;

  &.selected {
    border-bottom: 1px solid $turquoise-blue;
  }

  .answer-item-question-container.selected {
    color: $turquoise-blue;
  }
  .answer-item-answer-container {
    margin-top: 12px;
  }
}
