@import "styles/variables.scss";

.Platform-feature-section {
  padding: 80px 0 80px 0;
  background-color: $turquoise-blue;
  color: white;
  text-align: center;

  .title-contaienr {
    margin-bottom: 97px;
    .title {
      font-size: 2.5rem;
    }
  }

  .platform-item {
    width: 250px;
    margin: 0 40px 80px 40px;
    vertical-align: top;

    .description {
      font-size: 1.75rem;
    }

    .description2 {
      line-height: 1.38;
    }
  }
}
