@import "styles/variables.scss";

.Platform-feature-section {
  padding: 80px 0 80px 0;
  background-color: $turquoise-blue;
  color: white;
  text-align: center;

  .section-title-container {
    margin-bottom: 97px;
  }
  .platform-item-container {
    margin: 0 -60px 0 -60px;
    .platform-item {
      width: 280px;
      margin: 0 60px 80px 60px;
      vertical-align: top;

      .description {
        font-size: 1.75rem;
      }

      .description2 {
        line-height: 1.38;
        font-size: 1.05rem;
      }
    }

    @media screen and (max-width: 450px) {
      & {
        margin: 0;
        .platform-item {
          margin: 0 0 80px 0;
        }
      }
    }
  }
}
