doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title CodeChain
  body
    include includes/header.pug
    +cc-header('about')
    .about
      .container
        .team-container
          h3
            | Team
          .underline
          .description
            | Kodebox is a blockchain technology company on a mission to create and enable a smarter asset management system.
          .team-item-group
            include includes/member.pug
        .media-container
          h3
            | Media Coverage
          .underline
          include includes/media.pug
        .pr-container
          h3
            | PR
          .underline
          include includes/pr.pug
        .event-container
          h3
            | Events
          .underline
          p.group-title
            | Upcomming events
          .upcomming-event-group
            .upcomming-event-item
              .title
                | Event Name First Line
              .date
                | 2018-05-25, Seoul
            .upcomming-event-item
              .title
                | Event Name First Line
              .date
                | 2018-05-25, Seoul
          p.group-title
            | Past events
          .past-event-group
            .past-event-item.first-item
              .title
                | Event Name First Line lengthest
              .date
                | 2018-05-25
            .past-event-item
              .title
                | Event Name First Line lengthest
              .date
                | 2018-05-25
            .past-event-item
              .title
                | Event Name First Line lengthest
              .date
                | 2018-05-25
            .past-event-item
              .title
                | Event Name First Line lengthest
              .date
                | 2018-05-25
            .past-event-item
              .title
                | Event Name First Line lengthest
              .date
                | 2018-05-25
            .past-event-item
              .title
                | Event Name First Line lengthest
              .date
                | 2018-05-25
            .past-event-item
              .title
                | Event Name First Line lengthest
              .date
                | 2018-05-25
            .past-event-item
              .title
                | Event Name First Line lengthest
              .date
                | 2018-05-25
            .past-event-item
              .title
                | Event Name First Line lengthest
              .date
                | 2018-05-25
            .past-event-item
              .title
                | Event Name First Line lengthest
              .date
                | 2018-05-25
    include includes/footer.pug
