doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title CodeChain
  body
    include includes/header.pug
    +cc-header('contribute')
    .content
      .background-green-box
        img(src="./images/main/main_background.svg")
      .contribute
        .container
          .contribut-code-container
            h3
              | Contributing code
            .underline
            .description-group
              p.description
                | If you have improvements to CodeChain, send us your pull requests!#[br]
              p.description
                | CodeChain team members will be assigned to review your pull requests. Once the pull requests are approved and pass continuous integration checks, we will merge the pull requests.#[br]
              p.description
                | If you want to contribute but you're not sure where to start, take a look at the issues with the "good first issue" label. These are issues that we believe are particularly well suited for outside contributions, often because we probably won't get to them right now. If you decide to start on an issue, leave a comment so that other people know that you're working on it. If you want to help out, but not alone, use the issue comment thread to coordinate.
          .pull-request-checklist-container
            h3
              | Pull Request Checklist
            .underline
            .description
              | Before sending your pull requests, make sure you followed this list.
            ul
              li
                | Read #[span.red-text Code of Conduct].
              li
                | Ensure you have signed the Contributor License Agreement (CLA).
              li
                | Changes are consistent with the #[span.red-text Coding Style].
              li
                | Run #[span.red-text Unit Tests].
          .how-to-contribute-container
            h3
              | How to become a contributor and submit your own code
            .underline
            .description-group
              p.description
                | We'd love to accept your patches! Before we can take them, we have to jump a couple of legal hurdles.
              p.description
                | Please fill out either the individual or corporate Contributor License Agreement (CLA).
              ul
                li
                  | If you are an individual writing original source code and you're sure you own the intellectual property, then you'll need to sign an individual CLA.
                li
                  | If you work for a company that wants to allow you to contribute your work, then you'll need to sign a corporate CLA.
              p.description
                | Follow either of the two links above to access the appropriate CLA and instructions for how to sign and return it. Once we receive it, we'll be able to accept your pull requests.
              p.description
                | NOTE: Only original source code from you and other people that have signed the CLA can be accepted into the main repository.
              .text-center
                a.btn.btn-primary(href="https://cla-assistant.io/CodeChain-io/codechain", target="_blank", role="button")
                  | Contributor License Agreements
          .good-first-issue-container
            h3
              | Good first issue
            .underline
            #github-item-group.github-item-group
    include includes/footer.pug
