doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title CodeChain: a programmable multi-asset management solution
    // Global site tag (gtag.js) - Google Analytics
    script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-101144979-2')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-101144979-2');
  body
    include includes/header.pug
    +cc-header('documents')
    .background-green-box
      img(src='./images/main/main_background.svg')
    .content
      .documents
        .container
          include includes/document.pug
          .material-container
            h3
              | Presentation materials
            .underline
            include includes/presentation.pug
    include includes/footer.pug
