doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title CodeChain
  body
    include includes/header.pug
    +cc-header('documents')
    .background-green-box
      img(src="./images/main/main_background.svg")
    .content
      .documents
        .container
          include includes/document.pug
          .material-container
            h3
              | Presentation materials
            .underline
            ul
              li
                | link to slideshare, Google Drive, and Youtube (name, 0000/00/00)
              li
                | link to slideshare, Google Drive, and Youtube (name, 0000/00/00)
              li
                | link to slideshare, Google Drive, and Youtube (name, 0000/00/00)
              li
                | link to slideshare, Google Drive, and Youtube (name, 0000/00/00)
    include includes/footer.pug
