doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title CodeChain
  body
    include includes/header.pug
    +cc-header('documents')
    .background-green-box
      img(src="./images/main/main_background.svg")
    .content
      .documents
        .container
          include includes/document.pug
          .material-container
            h3
              | Presentation materials
            .underline
            ul
              li
                a.material-item(href='https://docs.google.com/presentation/d/10W7gKEvk_6XRIlSdiKwnwP9gVzo5Re5m_24QzLGaqvk/edit?usp=sharing', target='_blank')
                  | CodeChain Core Seminar: BFT Consensus
              li
                a.material-item(href='https://docs.google.com/presentation/d/1qYBKe8RONh3JKdRrwvKTuY_2p7FeQEJRR1oqep5lKmo/edit?usp=sharing', target='_blank')
                  | CodeChain Core Seminar: P2P Network
    include includes/footer.pug
