doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title CodeChain
  body
    include includes/header.pug
    +cc-header('download')
    .download
      .container
        .download-container
            h3 Downloads
            .underline
            p.description
              | codeChain is a programmable multi-asset management solution#[br]
              | that leverages blockchain technologies.#[br]
              | that leverages blockchain technologies.#[br]
              | that leverages blockchain technologies.#[br]
              | that leverages blockchain technologies.
            .download-item
              .left-container
                table
                  tr
                    td.align-middle
                      .left-icon
                        img(src="./images/download/dl-codechain-icon.png")
              .right-container
                p.download-item-title
                  | Download
                p.download-item-description
                  | hat leverages blockchain technologies
              .donwload-link-group
                .download-link-item
                  .donwload-link-icon
                    i.fa.fa-windows(aria-hidden='true')
                  .donwload-link-text
                    | Win
                .download-link-item
                  .donwload-link-icon
                    i.fa.fa-linux(aria-hidden='true')
                  .donwload-link-text
                    | Linux
                .download-link-item
                  .donwload-link-icon
                    i.fa.fa-apple(aria-hidden='true')
                  .donwload-link-text
                    | Mac
            .download-item
              .left-container
                table
                  tr
                    td.align-middle
                      .left-icon
                        img(src="./images/download/dl-code-icon.png")
              .right-container
                p.download-item-title
                  | Download
                p.download-item-description
                  | hat leverages blockchain technologies
              .donwload-link-group
                .download-link-item
                  .donwload-link-icon
                    i.fa.fa-cloud-download(aria-hidden='true')
                  .donwload-link-text
                    | Download
            .download-item-small-group
              .download-item-small
                .download-item-small-title
                  | Download
                .download-item-small-description
                  | hat leverages blockchain technologies
                .donwload-link-group
                  .download-link-item
                    .donwload-link-icon
                      i.fa.fa-windows.fa-2x(aria-hidden='true')
                    .donwload-link-text
                      | Win
                  .download-link-item
                    .donwload-link-icon
                      i.fa.fa-linux.fa-2x(aria-hidden='true')
                    .donwload-link-text
                      | Linux
                  .download-link-item
                    .donwload-link-icon
                      i.fa.fa-apple.fa-2x(aria-hidden='true')
                    .donwload-link-text
                      | Mac
              .download-item-small
                .download-item-small-title
                  | Source Code
                .download-item-small-description
                  | hat leverages blockchain technologies
                .donwload-link-group
                  .download-link-item
                    .donwload-link-icon
                      i.fa.fa-cloud-download.fa-2x(aria-hidden='true')
                    .donwload-link-text
                      | Download

    include includes/footer.pug
