doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title CodeChain: a programmable multi-asset management solution
  body
    include includes/header.pug
    +cc-header('downloads')
    .background-green-box
      img(src='./images/main/main_background.svg')
    .content
      .download
        .container
          .download-container
              h3 Downloads
              .underline
              p.description
                | Try out the latest blockchain technologies in CodeChain.
              .download-item
                .left-container
                  table
                    tr
                      td.align-middle
                        .left-icon
                          img(src='./images/download/dl-codechain-icon.png')
                .right-container
                  p.download-item-title
                    | Download
                  p.download-item-description
                    | Binary downloads will be available soon.
                .donwload-link-group
                  .download-link-item
                    .donwload-link-icon
                      i.fab.fa-windows(aria-hidden='true')
                    .donwload-link-text
                      | Win
                  .download-link-item
                    .donwload-link-icon
                      i.fab.fa-linux(aria-hidden='true')
                    .donwload-link-text
                      | Linux
                  .download-link-item
                    .donwload-link-icon
                      i.fab.fa-apple(aria-hidden='true')
                    .donwload-link-text
                      | Mac
              .download-item
                .left-container
                  table
                    tr
                      td.align-middle
                        .left-icon
                          img(src='./images/download/dl-code-icon.png')
                .right-container
                  p.download-item-title
                    | Source Code
                  p.download-item-description
                    | The source code will be available on 27 June 2018.
                .donwload-link-group
                  .download-link-item.active
                    .donwload-link-icon
                      i.fas.fa-arrow-alt-circle-down(aria-hidden='true')
                    .donwload-link-text
                      | Download
              .download-item-small-group
                .download-item-small
                  .download-item-small-title
                    | Download
                  .download-item-small-description
                    | Binary downloads will be available soon.
                  .donwload-link-group
                    .download-link-item
                      .donwload-link-icon
                        i.fab.fa-windows.fa-2x(aria-hidden='true')
                      .donwload-link-text
                        | Win
                    .download-link-item
                      .donwload-link-icon
                        i.fab.fa-linux.fa-2x(aria-hidden='true')
                      .donwload-link-text
                        | Linux
                    .download-link-item
                      .donwload-link-icon
                        i.fab.fa-apple.fa-2x(aria-hidden='true')
                      .donwload-link-text
                        | Mac
                .download-item-small
                  .download-item-small-title
                    | Source Code
                  .download-item-small-description
                    | The source code will be available on 27 June 2018.
                  .donwload-link-group
                    .download-link-item.active-small
                      .donwload-link-icon
                        i.fas.fa-arrow-alt-circle-down.fa-2x(aria-hidden='true')
                      .donwload-link-text
                        | Download
          include includes/document.pug
    include includes/footer.pug
