doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title CodeChain: a programmable multi-asset management solution
    // Global site tag (gtag.js) - Google Analytics
    script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-101144979-2')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-101144979-2');
  body
    include includes/header.pug
    +cc-header('main')
    .background-green-box
      img(src='./images/main/main_background.svg')
    .content
      .main
        .top-logo-container
          .container
            .row
              .col-lg-7
                p.title CodeChain
                p.description
                  | CodeChain is a programmable multi-asset management solution that leverages blockchain technologies.
                .button-container
                  button.btn.btn-primary(type='button').download-btn
                    | Downloads
                  button.btn.btn-primary(type='button').source-btn
                    | Source Code
                  a(href='https://gitter.im/CodeChain-io/codechain', target='_blank')
                    button.btn.btn-primary(type='button').join-chat-btn
                      | Join Chat
              .col-lg-5.text-center
                .connected-people-container
                  img.default-object(src='./images/main/connected-people.svg')
                  img.rotate-object.rotating(src='./images/main/circle.svg')
        .feature-container
          .container
            h3.title
              | Features
            .underline
            .feature-description
              | Programmable open source blockchain technology optimal for developing and customizing multi-asset management systems.
            .item-group
              .row
                .col-lg-6
                  .feature-item
                    img.item-img(src='./images/main/feature1.png')
                    .item-title
                      | Built-in multi-asset management solution
                    .item-underline.underline-red
                    .item-description
                      | Issue, transfer and manage currencies, tokens and/or digital items on a blockchain network. No need for smart contracts.
                .col-lg-6
                  .feature-item
                    img.item-img(src='./images/main/feature2.png')
                    .item-title
                      | Multiple types of transactions
                    .item-underline.underline-green
                    .item-description
                      | Make use of CodeChain’s support for programmable transactions: asset evolution, fusion, random item generation, escrow, payment channels and atomic swap.
              .row.flex-column-reverse.flex-lg-row
                .col-lg-6
                  .feature-item
                    img.item-img(src='./images/main/feature3.png')
                    .item-title
                      | Pluggable consensus model
                    .item-underline.underline-green
                    .item-description
                      | Choose the consensus model optimal for your business: PoW, Tendermint, Hot-stuff, and PoA.
                .col-lg-6
                  .feature-item
                    img.item-img(src='./images/main/feature4.png')
                    .item-title
                      | Scalability - Sharding
                    .item-underline.underline-red
                    .item-description
                      | Achieve higher transaction speed through horizontal scaling.
            .feature-second
              .row
                .col-lg-6
                  .second-item
                    .second-item-description
                      | Open source project#[br]
                      | licensed under AGPL
                    img.second-item-img.apgl-img(src='./images/main/agpl.png')
                .col-lg-6
                  .second-item
                    .second-item-description
                      | Written in Rust
                    img.second-item-img(src='./images/main/rust.png')
        .news-container
          .container
            h3.title
              | Tech Blog
            .underline
            #spinner.mt-3
              i.fas.fa-spinner.fa-spin.fa-2x
            #new-item-group.item-group
              #new-item-group-row.row
        .newsletter-container
          .container
            form.newsletter-form#mc-embedded-subscribe-form(action='//kodebox.us16.list-manage.com/subscribe/post?u=51f164251116e8c09451006ca&id=1c802d56ea', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='')
              p.title
                | Sign up for our newsletter
              .row
                .col-lg-8.mb-3
                  input#mce-EMAIL.newsletter-input.form-control(type='email', name='EMAIL', placeholder='E-mail', aria-description='first-name-input')
                .col-lg-4
                  button.newsletter-btn.btn.btn-primary(type='submit', value='Subscribe', name='subscribe') Submit
    include includes/footer.pug
