doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title CodeChain
  body
    include includes/header.pug
    +cc-header('main')
    .background-green-box
      img(src="./images/main/main_background.svg")
    .main
      .top-logo-container
        img.background-image(src='./images/main/main_background2.png')
        .container
          p.title CodeChain
          p.description
            | codeChain is a programmable multi-asset management solution#[br]
            | that leverages blockchain technologies.
          button.btn.btn-primary(type='button').download-btn
            | Downloads
          button.btn.btn-primary(type='button').source-btn
            | Source Code
      .feature-container
        .container
          h3.title
            | Feature
          .underline
          .item-group
            .row
              .col-lg-6
                .item.text-center.item-support
                  .item-description
                    | Built-in multi-asset support
                  img(src="./images/main/asset.png")
              .col-lg-6
                .item.text-center.item-engine
                  .item-description
                    | Blockchain engine with pluggable architecture
                  img(src="./images/main/codechain.png")
            .row
              .col-lg-6
                .item.text-center.item-license
                  .item-description
                    | Licensed under AGPL v3
                  img(src="./images/main/license.png")
              .col-lg-6
                .item.text-center.item-rust
                  .item-description
                    | Written in Rust
                  img(src="./images/main/rust.png")
      .news-container
        .container
          h3.title
            | News
          .underline
          #new-item-group.item-group
            #new-item-group-row.row
            a.float-right(href="https://medium.com/codechain", target="_blank")
              | More>>
      .newsletter-container
        .container
          h3.title
            | Sign Up For#[br]
            | Our Newsletter
          form
            .row
              .col-lg-4.mt-3
                label(for="first-name") First Name
                .input-group
                  input(type="text", id="first-name" aria-description="first-name-input")
              .col-lg-4.mt-3
                label(for="last-name") Last Name
                .input-group
                  input(type="text", id="last-name" aria-description="last-name-input")
              .col-lg-auto
            .row
              .col-lg-8.mt-3
                label(for="email") Email
                .input-group
                  input(type="email", id="email" aria-description="email-input")
              .col-lg-4
                button.btn.btn-primary(type='submit') Submit
    include includes/footer.pug
