doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title CodeChain: a programmable multi-asset management solution
  body
    include includes/header.pug
    +cc-header('team')
    .background-green-box
      img(src='./images/main/main_background.svg')
    .content
      .team
        .container
          .contributor-container
            h3
              | Contributors
            .underline
            #contributor-item-group.contributor-item-group
              include includes/team.pug
              #contributor-button.contributor-button
                a.button-text(href='/contribute.html')
                  | Interested in contributing?
    include includes/footer.pug
