.Feature-section {
  padding: 160px 0 160px 0;

  .feature-item {
    width: 290px;
    margin: 50px 25px 50px 25px;
    vertical-align: top;

    .title {
      font-size: 1.75rem;
    }

    .description {
      font-weight: 300;
      line-height: 1.38;
    }
  }
}
