@import "styles/variables.scss";
@import "styles/mixin.scss";

.Download-section {
  padding: 48px 0 112px 0;
  .title-container {
    text-align: center;
    margin-bottom: 80px;
    .title {
      color: $turquoise-blue;
      font-size: 2.5rem;
    }
  }
  .section-title-container {
    margin-bottom: 72px;
  }

  .download-item {
    position: relative;
    vertical-align: top;
    background: $ice-blue;
    width: 304px;
    padding: 59px 0 48px 0;
    margin: 0 28px 0 28px;
    height: 296px;

    .download-item-title-container {
      margin-bottom: 8px;
      .title {
        font-size: 1.25rem;
      }
    }

    .description {
      font-weight: 300;
    }

    .icon-container {
      width: 100%;
      position: absolute;
      bottom: 47px;

      .icon {
        margin: 0 16px 0 16px;
        cursor: pointer;

        &.disable {
          cursor: inherit;
        }
      }
    }

    @include respond_below(sm) {
      & {
        margin: 0;
      }
    }
  }
}
