@import "styles/variables.scss";

.Platform-section {
  padding: 80px 0 80px 0;
  background-color: $turquoise-blue;
  color: white;
  text-align: center;

  .title-contaienr {
    margin-bottom: 97px;
    .title {
      font-size: 2.5rem;
    }
  }
  .platform-item {
    width: 280px;
    margin: 0 30px 80px 30px;
    vertical-align: top;

    @media screen and (max-width: 450px) {
      margin: 0 0 80px 0;
    }

    .description {
      font-size: 1.75rem;
    }
  }
}
