@import "styles/variables.scss";

.Presentation-section {
  padding: 72px 0 176px 0;

  .section-title-container {
    margin-bottom: 45px;
  }

  .materials-container {
    max-width: 867px;
    margin: 0 auto;
    margin-bottom: 48px;

    .material-item {
      width: 243px;
      height: 180px;
      display: inline-block;
      vertical-align: top;
      background-color: $ice-blue;
      margin-left: 23px;
      margin-right: 23px;
      padding: 12px;
      margin-bottom: 46px;
      cursor: pointer;
      &:hover {
        background-color: $light-blue-grey;
      }

      .icon-container {
        margin-bottom: 16px;
      }

      .title-container {
        margin-bottom: 8px;
        .title {
          font-size: 1.25rem;
        }
      }
    }

    @media screen and (max-width: 991px) {
      .material-item {
        display: block;
        margin: 0 auto;
        margin-bottom: 20px;
      }
    }
  }

  .view-more-btn {
    margin: 0 auto;
    width: 148px;
  }
}
