@import "styles/variables.scss";

.Platform-logo-section {
  padding: 90px 0 90px 0;

  .logo-container {
    margin-bottom: 34px;
  }

  .codechain-description-container {
    margin: 0 auto;
    max-width: 517px;
    margin-bottom: 110px;
  }
  .codechain-description {
    font-size: 1.5rem;
  }
}
