@import "styles/variables.scss";
@import "styles/mixin.scss";

.See-more-section {
  padding: 45px 0 45px 0;

  .more-text {
    font-size: 1.75rem;
    color: $turquoise-blue;
    margin-right: 38px;
  }
  .more-btn {
    width: 148px;
    height: 40px;
  }

  @include respond-below(sm) {
    & {
      padding: 72px 0 72px 0;
    }
    .see-more-container {
      margin-bottom: 80px;
    }
    .more-text {
      text-align: center;
      margin-right: 0;
      margin-bottom: 16px;
    }
    .more-btn {
      margin: 0 auto;
    }
  }
}
