.documents-container
    h3
      | Documents
    .underline
    .description
      | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    .row
      .col-lg-6
        .link-button
          table
            tr
              td.align-middle
                | Manual
      .col-lg-6
        .link-button
          table
            tr
              td.align-middle
                | API Documents
