.documents-container
    h3
      | Documents
    .underline
    .description
      | Please read the manual if you would like to know the basic and intermediate functionality of CodeChain.
      | If you would like to interact with CodeChain immediately, please refer to the API document.
    .row
      .col-lg-6
        .link-button
          table
            tr
              td.align-middle
                | Manual
      .col-lg-6
        .link-button
          table
            tr
              td.align-middle
                | API Documents
