footer.footer
  .container
    .row.flex-sm-row-reverse
      .col-sm-6
        ul.list-inline.footer-list-menu.float-right
          li.list-inline-item.footer-link-item
            a(href="")
              | Twitter
          li.list-inline-item.footer-link-item
            a(href="")
              | Facebook
          li.list-inline-item.footer-link-item
            a(href="")
              | Medium
          li.list-inline-item.footer-link-item
            a(href="")
              | GitHub
      .col-sm-6
        table.footer-menu
          tr
            td.footer-menu-first-row.footer-menu-left
              a.footer-menu-item(href="")
                | Company
            td
              a.footer-menu-item(href="")
                | Developers
          tr
            td
              a.footer-menu-item(href="")
                | About
            td
              a.footer-menu-item(href="")
                | Downloads
          tr
            td
              a.footer-menu-item(href="")
                | Privacy
            td
              a.footer-menu-item(href="")
                | Document
          tr
            td
            td
              a.footer-menu-item(href="")
                | Source Code
          tr
            td
            td
              a.footer-menu-item(href="")
                | Issues
          tr
            td
            td
              a.footer-menu-item(href="")
                | Developer Chat
        p.copyright
          | &copy; 2018 Kodebox, Inc.




