footer.footer
  .container
    .row
      .col-lg-6
        ul
          li
            a.footer-menu-item(href='/index.html')
              | Home
          li
            a.footer-menu-item(href='/downloads.html')
              | Downloads
          li
            a.footer-menu-item(href='/documents.html')
              | Documents
          li
            a.footer-menu-item(href='/contribute.html')
              | Contribute
          li
            a.footer-menu-item(href='/team.html')
              | Team
          li
            a.footer-menu-item(href='/privacy.html', target='_blank')
              | Privacy Policy
        p.copyright
          | CodeChain and CodeChain logo are trademarks of Kodebox, Inc
      .col-lg-6
        ul.list-inline.footer-list-menu.float-right
          li.list-inline-item.footer-link-item
            a(href='https://gitter.im/CodeChain-io/codechain', target='_blank')
              i.fas.fa-comments.fa-3x(aria-hidden='true')
          li.list-inline-item.footer-link-item
            a(href='https://twitter.com/codechain_io', target='_blank')
              i.fab.fa-twitter.fa-3x(aria-hidden='true')
          li.list-inline-item.footer-link-item
            a(href='https://www.facebook.com/codechain/', target='_blank')
              i.fab.fa-facebook.fa-3x(aria-hidden='true')
          li.list-inline-item.footer-link-item
            a(href='https://medium.com/codechain', target='_blank')
              i.fab.fa-medium-m.fa-3x(aria-hidden='true')
          li.list-inline-item.footer-link-item
            a(href='https://github.com/CodeChain-io/codechain', target='_blank')
              i.fab.fa-github.fa-3x(aria-hidden='true')




