footer.footer
  .container
    .row
      .col-sm-6
        ul
          li
            a.footer-menu-item(href="")
              | Home
          li
            a.footer-menu-item(href="")
              | Downloads
          li
            a.footer-menu-item(href="")
              | Documents
          li
            a.footer-menu-item(href="")
              | Contribute
          li
            a.footer-menu-item(href="")
              | Team
          li
            a.footer-menu-item(href="")
              | Kodebox
          li
            a.footer-menu-item(href="")
              | Privacy Policy
        p.copyright
          | CodeChain and CodeChain logo are trademarks of Kodebox, Inc
      .col-sm-6
        ul.list-inline.footer-list-menu.float-right
          li.list-inline-item.footer-link-item
            a(href="")
              i.fas.fa-comments.fa-3x(aria-hidden='true')
          li.list-inline-item.footer-link-item
            a(href="")
              i.fab.fa-twitter.fa-3x(aria-hidden='true')
          li.list-inline-item.footer-link-item
            a(href="")
              i.fab.fa-facebook.fa-3x(aria-hidden='true')
          li.list-inline-item.footer-link-item
            a(href="")
              i.fab.fa-medium-m.fa-3x(aria-hidden='true')
          li.list-inline-item.footer-link-item
            a(href="")
              i.fab.fa-github.fa-3x(aria-hidden='true')




