//- In 'includes' all paths to assets should be relative to the index.pug file,
//- like so './images/image.jpg',
//- and not './../images/image.jpg'

mixin cc-header(url)
  mixin cc-nav-item(text, link, active)
    if active
      li.nav-item.active
        a.nav-link(href=link)
          | #{text}
    else
      li.nav-item
        a.nav-link(href=link)
          | #{text}
  nav.header.custom-nav.navbar.navbar-expand-lg.navbar-dark
    .container
      a.navbar-brand(href='/index.html') CodeChain
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          +cc-nav-item('Home', '/index.html', url == 'main')
          +cc-nav-item('Download', '/download.html', url == 'download')
          +cc-nav-item('Contribute', '/contribute.html', url == 'contribute')
          +cc-nav-item('Documents', '/documents.html', url == 'documents')
          +cc-nav-item('About', '/about.html', url == 'about')
        ul.navbar-nav
          li.nav-item
            a.nav-link(href='#')
              i.fa.fa-medium.fa(aria-hidden='true')
          li.nav-item
            a.nav-link(href='#')
              i.fa.fa-github(aria-hidden='true')
