ul
  li
    | [보도자료] 코드박스, 블록체인 기반 모바일 러닝 게임 '고크립토봇' 출시
  li
    | [기사] Blockchain Apps Are Sweeping Across South Korean App Market (BusinessKorea)
  li
    | [PR] If You Click a Title, And You Can See the Text Modal on Our Website
  li
    | [Acticle] Link to Acticle Page (IGN)
  li
    | [Acticle] Max 10 line
