.team-item
  .team-item-image
    | image
  .team-item-right
    .team-item-name
      | Kwang Yul Seo
    .team-item-description
      | CEO
  .team-item-link-group
    .team-item-link
      i.fab.fa-github.fa-2x(aria-hidden='true')
    .team-item-link
      i.fab.fa-github.fa-2x(aria-hidden='true')
    .team-item-link
      i.fab.fa-github.fa-2x(aria-hidden='true')
.team-item
  .team-item-image
    | image
  .team-item-right
    .team-item-name
      | Kwang Yul Seo
    .team-item-description
      | CEO
  .team-item-link-group
    .team-item-link
      i.fab.fa-github.fa-2x(aria-hidden='true')
    .team-item-link
      i.fab.fa-github.fa-2x(aria-hidden='true')
    .team-item-link
      i.fab.fa-github.fa-2x(aria-hidden='true')
.team-item
  .team-item-image
    | image
  .team-item-right
    .team-item-name
      | Kwang Yul Seo
    .team-item-description
      | CEO
  .team-item-link-group
    .team-item-link
      i.fab.fa-github.fa-2x(aria-hidden='true')
    .team-item-link
      i.fab.fa-github.fa-2x(aria-hidden='true')
    .team-item-link
      i.fab.fa-github.fa-2x(aria-hidden='true')
.team-item
  .team-item-image
    | image
  .team-item-right
    .team-item-name
      | Kwang Yul Seo
    .team-item-description
      | CEO
  .team-item-link-group
    .team-item-link
      i.fab.fa-github.fa-2x(aria-hidden='true')
    .team-item-link
      i.fab.fa-github.fa-2x(aria-hidden='true')
    .team-item-link
      i.fab.fa-github.fa-2x(aria-hidden='true')
.team-item
  .team-item-image
    | image
  .team-item-right
    .team-item-name
      | Kwang Yul Seo
    .team-item-description
      | CEO
  .team-item-link-group
    .team-item-link
      i.fab.fa-github.fa-2x(aria-hidden='true')
    .team-item-link
      i.fab.fa-github.fa-2x(aria-hidden='true')
    .team-item-link
      i.fab.fa-github.fa-2x(aria-hidden='true')
