ul
  li
    a.material-item(href='https://docs.google.com/presentation/d/1HtXdipYotF9DKmXJhP0c2OEgLCGEj1cxCP0jEuTeS8w/edit?usp=sharing', target='_blank')
      | [2018-06-05] CodeChain Seminar - Blockchain Storage
  li
    a.material-item(href='https://docs.google.com/presentation/d/1qYBKe8RONh3JKdRrwvKTuY_2p7FeQEJRR1oqep5lKmo/edit?usp=sharing', target='_blank')
      | [2018-05-30] CodeChain Seminar - P2P Network
  li
    a.material-item(href='https://docs.google.com/presentation/d/10W7gKEvk_6XRIlSdiKwnwP9gVzo5Re5m_24QzLGaqvk/edit?usp=sharing', target='_blank')
      | [2018-05-23] CodeChain Seminar - BTF Consensus
