.contributor-item
  .name
    a(href='https://github.com/xpdlf1004', target='_blank')
      | Gilyoung
  .team-name
    | Kodebox
.contributor-item
  .name
    a(href='https://github.com/xpdlf1004', target='_blank')
      | Gilyoung
  .team-name
    | Kodebox
.contributor-item
  .name
    a(href='https://github.com/xpdlf1004', target='_blank')
      | Gilyoung
  .team-name
    | Kodebox
.contributor-item
  .name
    a(href='https://github.com/xpdlf1004', target='_blank')
      | Gilyoung
  .team-name
    | Kodebox
.contributor-item
  .name
    a(href='https://github.com/xpdlf1004', target='_blank')
      | Gilyoung
  .team-name
    | Kodebox
.contributor-item
  .name
    a(href='https://github.com/xpdlf1004', target='_blank')
      | Gilyoung
  .team-name
    | Kodebox
.contributor-item
  .name
    a(href='https://github.com/xpdlf1004', target='_blank')
      | Gilyoung
  .team-name
    | Kodebox
