.contributor-item
  .name
    a(href='https://github.com/sgkim126', target='_blank')
      | sgkim126
  .team-name
    | Kodebox
.contributor-item
  .name
    a(href='https://github.com/kseo', target='_blank')
      | kseo
  .team-name
    | Kodebox
.contributor-item
  .name
    a(href='https://github.com/Kais-DkM', target='_blank')
      | Kais-DkM
  .team-name
    | Kodebox
.contributor-item
  .name
    a(href='https://github.com/joojis', target='_blank')
      | joojis
  .team-name
    | Kodebox
.contributor-item
  .name
    a(href='https://github.com/majecty', target='_blank')
      | majecty
  .team-name
    | Kodebox
