.contributor-item
  .name
    a(href='https://github.com/sgkim126', target='_blank')
      | Seul Gi Kim
  .team-name
    | Kodebox
.contributor-item
  .name
    a(href='https://github.com/kseo', target='_blank')
      | Kwang Yul Seo
  .team-name
    | Kodebox
.contributor-item
  .name
    a(href='https://github.com/Kais-DkM', target='_blank')
      | Joon Mo Yang
  .team-name
    | Kodebox
.contributor-item
  .name
    a(href='https://github.com/joojis', target='_blank')
      | Jin Gyeong Jeong
  .team-name
    | Kodebox
.contributor-item
  .name
    a(href='https://github.com/majecty', target='_blank')
      | Ju Hyeong Park
  .team-name
    | Kodebox
